/* line 1, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, 0.6);
  margin: 0;
}

/* line 7, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
* {
  box-sizing: border-box;
}

/*NAVBAR*/
/* line 12, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.navbar {
  background-color: white;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  display: flex;
  justify-content: center;
}

/* line 21, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.navbar a {
  font-weight: 200;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 28, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
/* line 36, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.jumbotron {
  height: 100vh;
  /*height to 100% of view height*/
  background: black;
  /*background color to blue*/
  margin-bottom: 0;
  /*no bottom margin*/
  display: flex;
  flex-direction: column;
}

/* line 44, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

/* line 53, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
}

/* line 63, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
/* line 68, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.ul-social {
  text-align: center;
  padding-left: 0;
}

/* line 73, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.li-social-links {
  display: inline-block;
  list-style: none;
}

/* line 78, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.social {
  font-size: 2em;
  color: white;
  padding: 20px;
}

/*ARROW LINK*/
/* line 85, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

/* line 93, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
#down-arrow a {
  color: white;
}

/*CONTENT*/
/* line 98, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

/* line 104, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.row {
  display: flex;
}

/* line 108, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.white {
  background: white;
}

/* line 112, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.side-content {
  flex: 0 0 16.6%;
}

/* line 116, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* line 122, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.side-content-sm {
  flex: 0 0 10%;
}

/* line 126, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* line 132, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

/* line 138, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
h2 {
  font-weight: 200;
  font-size: 4rem;
  color: #267d8e;
  text-transform: uppercase;
  text-align: center;
}

/* line 146, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.content-body {
  line-height: 1.5;
  color: white;
}

/*EDUCATION*/
/* line 152, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 30px;
}

/* line 161, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.card-header {
  padding: .75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

/* line 169, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.card-content {
  padding: .25rem 1.25rem;
  flex: 1 1 auto;
}

/* line 174, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
}

/* line 180, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.job-title {
  float: right;
}

/*PROJECTS*/
/* line 185, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* line 195, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.project-image {
  flex: 1 0 auto;
}

/* line 199, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 205, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*SKILLS*/
/* line 215, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.ul-skills {
  text-align: center;
  padding-left: 0;
}

/* line 220, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #267d8e;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*CONTACT*/
/* line 232, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.blue {
  background: #267d8e;
  text-align: center;
}

/* line 237, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.contact {
  max-width: 500px;
  margin: 0 auto;
}

/* line 242, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: white;
  color: black;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

/* line 255, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.contact textarea {
  height: 150px;
  resize: none;
}

/* line 260, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

/* line 274, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.white-text {
  color: white;
}

/* line 278, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/pages.scss */
.ha-header-front:hover {
  box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
