/* line 4, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
.footer p {
  color: #424242 !important;
  font-size: 1em;
}

/* line 9, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
.post-body {
  padding: 64px 300px 0px 300px;
}

/* line 13, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
.post-body p {
  font-size: 22px;
}

/* line 17, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
#title {
  text-align: center;
  padding-top: 74px;
}

/* line 22, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
.image-holder {
  position: relative;
  left: 32%;
}

/* line 27, /Users/CarlosAlmonte/Desktop/APPS/Portfolio/app/assets/stylesheets/posts.scss */
pre {
  display: inline;
}
