  <body>

    <!-- BEGIN NAVBAR -->
    <div class="navbar  animated fadeInUp">
      <a href="#about">About</a>
      <a href="#experience">Experience</a>
      <a href="#education">Education</a>
      <a href="#projects">Projects</a>
      <a href="#skills">Skills</a>
      <a href="#contact">Contact</a>
    </div>
    <!-- END NAVBAR -->

    <div class="container">

      <!-- HEADER -->
      <div class="jumbotron">

        <div class="jumbotron-text">

<%= image_tag "self_thumbnail.jpg", class: 'animated fadeIn', style: "border-radius: 100px; filter: grayscale(100%);" %>

          <h1>C LO A</h1>
          <p>Full-Stack Web Developer in New York, NY.</p>
        </div>
        <div class="jumbotron-social">
          <ul class="ul-social">
            <li class="li-social-links">
              <a class="social" href="https://github.com/dhakle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li class="li-social-links">
              <a class="social" href="https://linkedin.com/in/carlos-almonte-177a18aa/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div id="down-arrow">
          <span><a href="#about"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <!-- END HEADER -->



      <!-- BEGIN ABOUT -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="about"></a>
            <h2>About</h2>
          </div>
          <div class="content-body">
            <p>Academic and career background in Clinical Nutrition, assisting doctors by recommending diets to their patients based on diagnosis, labs and other pathological status.</p>
            <p>Passion and intermediate knowledge of Software/Web Development. Currently browsing the tech world, firmly determined to make a career change into the field.</p>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END ABOUT -->

      <!-- BEGIN EPERIENCE -->
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="experience"></a>
            <h2>Experience</h2>
          </div>
          <!-- CARD #1 -->
          <div class="content-body">
            <div class="card">
              <div class="card-header">
                <h4>Grand Manor Nursing Home  —  April 2016 - Present<span class="job-title">Dietitian</span></h4>
              </div>
              <div class="card-content">
                <p>
- Create diet recommendations based on diagnosis, labs and other pathological status. <br>
- Perform admission assessments to determine appropriate goals, interventions and recommendations.
- Perform follow up assessments to monitor resident's nutritional status during stay. <br>
- Educate residents and staff on food choices according to diagnosis. <br>
- Document appropriate information in medical record according to government agencies’ standards. <br>
- Monitor pressure ulcers, significant weight changes and tube feeding parameters.</p>
              </div>
            </div>

          <!-- CARD #2 -->

            <div class="card">
              <div class="card-header">
                <h4>Delta Air Lines  —  July 2016 - Present <span class="job-title">Airport Customer Service Agent</span></h4>
              </div>
              <div class="card-content">
                <p>
- Inform passengers of flight schedules and baggage booking procedures. <br>
- Resolve passengers’ issues regarding flight changes and seating arrangements. <br>
- Rebook passengers as needed. <br>
- Inspect and accept check-in luggages. <br>
- Coordinate with management to have passengers accommodated when required. <br>
- Make sure all check-in luggages comply with the Airport's and Airline's regulations.</p>
              </div>
            </div>

          <!-- CARD #3 -->

            <div class="card">
              <div class="card-header">
                <h4>ASIG  —  February 2016 - July 2016<span class="job-title">Airport Customer Service Agent</span></h4>
              </div>
              <div class="card-content">
                <p>
- Made sure passengers met all destination's travel requirements during check-in process. <br>
- Informed passengers of flight schedules and baggage booking procedures. <br>
- Resolve passengers’ issues regarding flight changes and seating arrangements. <br>
- Made sure all check in luggages complied with the Airport's and Airline's regulations. <br>
- Assisted during boarding process to ensure on time departure.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END EXPERIENCE -->

      <!-- BEGIN EDUCATION -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="education"></a>
            <h2>Education</h2>
          </div>
          <div class="content-body">

            <!-- EDUCATION 1 -->
            <div class="card">
              <div class="card-header">
                <h4>Lehman College <span class="job-title">2012 - 2016</span></h4>
              </div>
              <div class="card-content">
                <p>Bachelors of Science in Dietetics, Foods and Nutrition. <br></p>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END EDUCATION -->

      <!-- BEGIN PROJECTS -->
      <div class="row">
        <div class="side-content-sm"></div>
        <div class="main-content-lg">
          <div class="content-header">
            <a class="anchor" name="projects"></a>
            <h2>Projects</h2>
          </div>
          <div class="content-body">
            <!-- CARD #1 -->
            <div class="project-card">
              <div class="project-image" style="width: 40%" >
<%= image_tag "ezgif-1-b329556bfd.jpg", class: 'project1',style: "width: 100%" %>
              </div>
              <div class="project-content" style="width: 100%">
                <h4>Dietitian.Help</h4>
                <p>Electronic Medical Records (EMR) designed specifically for Dietitians and other healthcare providers looking to ease the Medical Nutrition Therapy process.</p>
                <a href="https://dietitianhelp.herokuapp.com/">https://dietitianhelp.herokuapp.com/</a>
              </div>
            </div>
            <!-- CARD #2 -->
            <div class="project-card">
              <div class="project-content" style="width: 100%">
                <h4>Nostalgia Experience</h4>
                <p>Web app for music group "Nostalgia."</p>
                <a href="http://nostalgiaexperience.herokuapp.com/">http://nostalgiaexperience.herokuapp.com/</a>
              </div>
              <div class="project-image" style="width: 40%" >
<%= image_tag "ezgif-1-af57977208.jpg",class: 'project2', style: "width: 100%" %>
              </div>
            </div>
          </div>
        </div>
        <div class="side-content-sm"></div>
      </div>
      <!-- END PROJECTS -->

      <!-- BEGIN SKILLS -->
      <div class="row white box-shadow">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="skills"></a>
            <h2>Skills</h2>
          </div>
          <div class="content-body">
            <ul class="ul-skills">
              <li class="li-skills">Ruby</li>
              <li class="li-skills">Ruby on Rails</li>
              <li class="li-skills">HTML</li>
              <li class="li-skills">CSS</li>
              <li class="li-skills">Javascript</li>
              <li class="li-skills">JQuery</li>
              <li class="li-skills">AJAX</li>
              <li class="li-skills">jQuery</li>
              <li class="li-skills">Bootstrap</li>
            </ul>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END SKILLS -->

      <!-- BEGIN CONTACT -->

      <div class="row blue">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
            <a class="anchor" name="contact"></a>
            <h2 class="white-text">Contact Me</h2>
          </div>
          <div class="contact content-body">
            <form method="POST" action="https://formspree.io/email@email.com">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END CONTACT -->

      <!-- BEGIN FOOTER -->
      <div class="row">
        <div class="side-content"></div>
        <div class="main-content">
          <div class="content-header">
          </div>
          <div class="content-body">
            <p>Copyright Carlos Almonte 2017</p>
          </div>
        </div>
        <div class="side-content"></div>
      </div>
      <!-- END FOOTER -->

    </div>
  </body>
  <script>
  $(document).ready(function()
{
    $(".project1").hover(
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-b329556bfd-5f572dc96e85c6cd0ed34764dc5197195b6ec9995d501579d3cd09045d93b188.gif');
        },
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-b329556bfd-00794f1f40b1c2804ff249ccea95a5be8de7034fc3482c2b6d96198734aaf775.jpg');
        });
    $(".project2").hover(
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-af57977208-7f9296b91a58a6b76ee63b14a6f423e7bd7fcfc2a7831f538f932d8e57752409.gif');
        },
        function()
        {
          var src = $(this).attr("src");
          $(this).attr("src", '/assets/ezgif-1-af57977208-f0168f9a925cc356bba4c279f8f495c579aa84da0ca83a559f6fad5a0db59101.jpg');
        });
});</script>
</html>
